@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Podkova:wght@700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Podkova', serif; */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
}

header {
    position: fixed;
    top: 0px;
    height: 170px;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 100;
}
hr{
    position: absolute;
    width: 100%;
    height: 0px;
    top: 168px;
    border: 1px solid #DFDFDF;
    z-index: 999;
}
header p {
    position: relative;
    top: 27px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #636363;
    letter-spacing: 0.1em;
}

header img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 162px;
    height: 42.18px;
    top: 12px;
}

section {
    position: fixed;
    top: 170px;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f7f7f7;
}


.lp {
    position: absolute;
    width: 100%;
    top: 500px;
}

.pli_cover {
    position: absolute;
    width: 460px;
    height: 460px;
    left: 220px;
    top: 540px;
    object-fit: cover;
    border-radius: 20px;
    /*background: url(/static/img/lottie_1.png);*/
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
}


lottie-player {
    position: absolute;
    width:800px;
    left: 140px;
    top: -100px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
}



.order1 {
    position: absolute;
    left: 424px;
    top: 1050px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    display: flex;
    align-items: center;
    color: #3E3B98;

    animation: fadeInOut 5s;
    -webkit-animation: fadeInOut 5s;
    animation-fill-mode: forwards;
    /*animation-fill-mode : none;*/

}



.order2 {
    position: absolute;
    left: 424px;
    top: 1050px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    display: flex;
    align-items: center;
    color: #3E3B98;


    animation: fadeInOut 3s;
    -webkit-animation: fadeInOut 3s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    opacity: 0;

}

.order3 {
    position: absolute;
    left: 424px;
    top: 1050px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 132.5%;
    display: flex;
    align-items: center;
    color: #3E3B98;


    animation: fadeInOut 4s;
    -webkit-animation: fadeInOut 4s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    animation-delay: 8s;
    -webkit-animation-delay: 8s;

    opacity: 0;
}



@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}