<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/plselect.css">
  <link rel="stylesheet" href="../static/css/plselect_modal.css">
  <link rel="stylesheet" href="../static/css/component.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>plop_red</title>

</head>
<!--직사각형 이미지-->
<body style="background-image: url('../static/img/background/background/red_bg.png');">
  <div class="wrap">
    <div id="pli_1" class="pop_wrap" style="display:none;">
      <div class="pop_inner">
        <div class="pop_content">
          <div class="pop_pli_cover"><img src="../static/img/playlistImg/직사각형_이미지/red_back/redback_01.png" alt=""></div>
          <p class="pli_title">방구석 힙합클럽 초대장</p>
          <p class="pli_text">HIP력이 떨어지셨다고요? 당장 초대장 받으세요!<br>HIP 수혈해드립니다. 당신과 비트만 있다면 이 곳이 곧 힙합클럽!<br>심장이 절로 뛰고 스피커를 귀에
            꽂고 싶은 당신을 위해<br>다 같이 그 순간으로 <b>퐁당!</b></p>
        </div>
        <div class="pop_footer">
          <button type="button" class="btn_close btn_close1"><b>취소</b></button>
          <button type="submit" class="select_button" onclick="location.href='red1'"><b>선택</b></button>
        </div>
      </div>
    </div>
    <div id="pli_2" class="pop_wrap" style="display:none;">
      <div class="pop_inner">
        <div class="pop_content">
          <img class="pop_pli_cover" src="../static/img/playlistImg/직사각형_이미지/red_back/redback_02.png" alt="">
          <p class="pli_title">스위트룸에 너랑 나 단둘이 있다면</p>
          <p class="pli_text">사랑하는 연인과의 호텔 스위트룸!<br>퇴폐 한 스푼, 매혹 두 스푼, 섹시 열 스푼이 추가되었어요.<br>살짝 녹은 젤리처럼 끈적거리고 싶을 때<br>다 같이
            그 순간으로 <b>퐁당!</b></p>
        </div>
        <div class="pop_footer">
          <button type="button" class="btn_close btn_close2"><b>취소</b></button>
          <button type="submit" class="select_button" onclick="location.href='red2'"><b>선택</b></button>
        </div>
      </div>
    </div>
    <div id="pli_3" class="pop_wrap" style="display:none;">
      <div class="pop_inner">
        <div class="pop_content">
          <img class="pop_pli_cover" src="../static/img/playlistImg/직사각형_이미지/red_back/redback_03.png" alt="">
          <p class="pli_title">여기부터 저기까지 다 주세요</p>
          <p class="pli_text">날씨가 너무 좋아서 꼬까옷을 장만하고 싶다구요?<br>오늘만큼은 ‘백지 수표’를 들고 마음껏 쇼핑해보세요.<br>여기부터 저기까지 다 사고 싶은 당신을
            위해<br>다 같이 그 순간으로 <b>퐁당!</b></p>
        </div>
        <div class="pop_footer">
          <button type="button" class="btn_close btn_close3"><b>취소</b></button>
          <button type="submit" class="select_button" onclick="location.href='red3'"><b>선택</b></button>
        </div>
      </div>
    </div>
    <div id="pli_4" class="pop_wrap" style="display:none;">
      <div class="pop_inner">
        <div class="pop_content">
          <img class="pop_pli_cover" src="../static/img/playlistImg/직사각형_이미지/red_back/redback_04.png" alt="">
          <p class="pli_title">차가운 미소를 가진 도시의 킬러</p>
          <p class="pli_text">차가운 미소를 가진 도시의 킬러, 당신!<br>피에르를 처리하라는 보스의 명령이 내려졌다.<br>2022년 여름, 독재자를 암살해야하는 비밀스럽운 혈투가
            시작된다. <br>다 같이 그 순간으로 <b>퐁당!</b></p>
        </div>
        <div class="pop_footer">
          <button type="button" class="btn_close btn_close4"><b>취소</b></button>
          <button type="submit" class="select_button" onclick="location.href='red4'"><b>선택</b></button>
        </div>
      </div>
    </div>
    <div id="pli_5" class="pop_wrap" style="display:none;">
      <div class="pop_inner">
        <div class="pop_content">
          <img class="pop_pli_cover" src="../static/img/playlistImg/직사각형_이미지/red_back/redback_05.png" alt="">
          <p class="pli_title">그 해 우리는, 이별이 최선이었던거야</p>
          <p class="pli_text">이별 후엔 언제나 슬프고, 아프고, 힘들잖아요.<br>가끔은 담담한 척 하지 마세요. 그냥 우는 것도 좋아요.<br>좀 더 슬프고, 좀더 우울하고 싶을
            때<br>다 같이 그 순간으로 <b>퐁당!</b></p>
        </div>
        <div class="pop_footer">
          <button type="button" class="btn_close btn_close5"><b>취소</b></button>
          <button type="submit" class="select_button" onclick="location.href='red5'"><b>선택</b></button>
        </div>
      </div>
    </div>


    <header>
      <p>Travel into your daily life</p>
      <img src="../static/img/텍스트형 LOGO1.svg" alt="">
    </header>

    <section>
      <div class="intro">
        <div></div>
        <img src="../static/img/텍스트형 LOGO1.svg" alt="">
        <p>과 함께 당신이 몰입하고 싶은 순간을 주문하세요!</p>
      </div>
<!--정사각형 이미지-->
      <div class="wrapper">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#pli_1" class="btn_open btn_open1"></a><img src="../static/img/playlistImg/정사각형_이미지/red_cards/red_01.png"
                alt="">
              <p>방구석 힙합클럽 초대장</p>
            </div>
            <div class="swiper-slide"><a href="#pli_2" class="btn_open btn_open2"></a><img src="../static/img/playlistImg/정사각형_이미지/red_cards/red_02.png"
                alt="">
              <p>스위트룸에 너랑 나 단둘이 있다면</p>
            </div>
            <div class="swiper-slide"><a href="#pli_3" class="btn_open btn_open3"></a><img src="../static/img/playlistImg/정사각형_이미지/red_cards/red_03.png"
                alt="">
              <p>여기부터 저기까지 다 주세요</p>
            </div>
            <div class="swiper-slide"><a href="#pli_4" class="btn_open btn_open4"></a><img src="../static/img/playlistImg/정사각형_이미지/red_cards/red_04.png"
                alt="">
              <p>차가운 미소를 가진 도시의 킬러</p>
            </div>
            <div class="swiper-slide"><a href="#pli_5" class="btn_open btn_open5"></a><img src="../static/img/playlistImg/정사각형_이미지/red_cards/red_05.png"
                alt="">
              <p>그 해, 우리는 이별이 최선이었던거야</p>
            </div>
          </div>
          <div class="swiper-pagination"></div>

          <div class="swiper-button-next"><img class="btn" src="../static/img/btn-r.png" alt=""></div>
          <div class="swiper-button-prev"><img class="btn" src="../static/img/btn-l.png" alt=""></div>

        </div>
      </div>

      <div class="tagtext">
        <ul>
          <li>#열정</li>
          <li>#충동</li>
          <li>#솔직</li>
        </ul>
        <p>당신의 기분에 따라 매일매일 달라지는 <b>오늘의 여행!</b></p>
      </div>
    </section>

    <footer>
      <div class="plbox">
        <div class="noselect"><img src="../static/img/logo_gray.svg" alt=""></div>
        <div class="t">메뉴를 추가해 주세요</div>
      </div>
      <div class="money">
        <p style="left:40px;">총 결제금액</p>
        <p style="right:40px" ;>원</p>
      </div>
      <div class="order">
        <p>주문하기</p>
      </div>
    </footer>
  </div>


  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.js"></script>
  <script charset="utf-8" src="../static/js/plselect_modal.js"></script>
  <script>
    $("document").ready(function () {
      // 문서의 dom이 준비되면
      // .mySwiper 클래스를 swiper 슬라이더로 만듦
      // 이후에 swiper변수에 할당했기 때문에 스크립트로 제어할 수도 있음.
      var swiper = new Swiper(".mySwiper", {

        slidesPerView: 'auto',
        loop: false,
        centeredSlides: true,
        initialSlide: 0,
        allowTouchMove : false,
        loopAdditionalSlides : 1,
        // pagination 기본은 bullet
        pagination: {
          el: ".swiper-pagination"
        },

        // 좌우 화살표 navigation element 지정
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },

        on: {
          init: function () {
            $('.swiper-slide').addClass('changed');

            // fraction에 현재 인덱스와 전체 인덱스 표시
            // this.loopedSlides는 loop, slidesPerView: 'auto'일 때 제대로 동작
            $('.custom-fraction .current').text(this.realIndex + 1);
            $('.custom-fraction .all').text(this.loopedSlides);
            // console.log(this);
            // console.log(this.loopedSlides)
          },

          slideChangeTransitionStart: function () {
            // 기본적으로 제공하는 swiper-slide-active 클래스를 이용해
            // css transition 애니메이션 작성 가능하다.
            // 다만 루프 모드일 때에는 루프 픽스를 하며 slide를 바꿔치기를 하는데,
            // 이 때 플리커링이 발생할 수 있다.
            // css transition을 서로 다르게 설정한 changed, changing 클래스를 이용
            $('.swiper-slide').addClass('changing');
            $('.swiper-slide').removeClass('changed');

            // 페이지 넘어갈 때마다 fraction 현재 인덱스 변경
            $('.custom-fraction .current').text(this.realIndex + 1);
          },

          slideChangeTransitionEnd: function () {
            // changing : transition O
            // changed : transition X
            $('.swiper-slide').removeClass('changing');
            $('.swiper-slide').addClass('changed');
          }
        },
      });
    });
  </script>

</body>

</html>