<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/plselect.css">
    <link rel="stylesheet" href="../static/css/plselect_modal.css">
    <link rel="stylesheet" href="../static/css/plselected.css">
    <link rel="stylesheet" href="../static/css/component.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>plop_black</title>

</head>

<body style="background-image: url('../static/img/background/background/black_bg.png')">
    <div class="wrap">
        <div id="notouch" class="pop_wrap" style="display:none;">
            <div class="selected_inner">
                <div class="selected_logo"><img src="../static/img/plop-logo-sub.svg" alt=""></div>
                <div class="selected_story">스토리는 하나만 고를 수 있어요</div>
                <div class="selected_text">하단에 있는 메뉴를 취소하고 스토리를 선택해주세요</div>
                <div class="selected_btn">확인</div>
            </div>
        </div>


        <header>
            <p>Travel into your daily life</p>
            <img src="../static/img/텍스트형 LOGO1.svg" alt="">
        </header>

        <section>
            <div class="intro">
                <div style="background-color:#A4A4A4"></div>
                <img src="../static/img/텍스트형 LOGO1.svg" alt="">
                <p>과 함께 당신이 몰입하고 싶은 순간을 주문하세요!</p>
            </div>
            <!--정사각형 이미지-->
            <div class="wrapper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="#notouch" class="btn_open btn_open1"></a><img
                                src="../static/img/playlistImg/정사각형_이미지/black_cards/black_01.png" alt="">
                            <p>슬리데린의 저주 마법 배우기</p>
                        </div>
                        <div class="swiper-slide"><a href="#notouch" class="btn_open btn_open2"></a><img
                                src="../static/img/playlistImg/정사각형_이미지/black_cards/black_02.png" alt="">
                            <p>락 페스티벌 피날레의 주인공</p>
                        </div>
                        <div class="swiper-slide"><a href="#notouch" class="btn_open btn_open3"></a><img
                                src="../static/img/playlistImg/정사각형_이미지/black_cards/black_03.png" alt="">
                            <p>연극이 끝나고 난 뒤</p>
                        </div>
                        <div class="swiper-slide"><a href="#notouch" class="btn_open btn_open4"></a><img
                                src="../static/img/playlistImg/정사각형_이미지/black_cards/black_04.png" alt="">
                            <p>바쁜 하루의 끝은 호텔 라운지에서 와인 한 잔</p>
                        </div>
                        <div class="swiper-slide"><a href="#notouch" class="btn_open btn_open5"></a><img
                                src="../static/img/playlistImg/정사각형_이미지/black_cards/black_05.png" alt="">
                            <p>비 내리는 날, 포장마차에서 혼술하기</p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-next"><img class="btn" src="../static/img/btn-r.png" alt=""></div>
                    <div class="swiper-button-prev"><img class="btn" src="../static/img/btn-l.png" alt=""></div>

                </div>
            </div>
<!-- 노란색 태그 필요 -->
            <div class="tagtext">
                <ul>
                    <li style="background-color:#A4A4A4; color:#000">#공허</li>
                    <li style="background-color:#A4A4A4; color:#000">#거만</li>
                    <li style="background-color:#A4A4A4; color:#000">#강인</li>
                </ul>
                <p>당신의 기분에 따라 매일매일 달라지는 <b>오늘의 여행!</b></p>
            </div>
        </section>

        <footer>
            <div class="plbox">
                <div class="noselect"><img src="../static/img/logo_gray.svg" alt=""></div>
                <!-- <div class = "t">메뉴를 추가해 주세요</div> -->
                <button class="DeleteBtn"></button>
                <div class="selected-title"></div>
                <div class="whatdrink">
                    <p><span id="menu"></span><span> / </span><span id="temp"></span><span> / </span><span
                            id="size"></span>
                    </p>
                </div>
                <div id="pricetxt"></div>
            </div>
            <div class="money">
                <p style="left:40px;">총 결제금액</p>
                <p id="totalprice" style="right:100px;"></p>
                <p style="right:40px" ;>원</p>
            </div>
            <div class="order">
                <p>주문하기</p>
            </div>
        </footer>
    </div>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.js"></script>
    <script src="../static/js/plselect_modal.js"></script>
    <script>
        $("document").ready(function () {
            // 문서의 dom이 준비되면
            // .mySwiper 클래스를 swiper 슬라이더로 만듦
            // 이후에 swiper변수에 할당했기 때문에 스크립트로 제어할 수도 있음.
            var swiper = new Swiper(".mySwiper", {

                slidesPerView: 'auto',
                loop: false,
                centeredSlides: true,
                allowTouchMove: false,

                initialSlide: 0,

                // pagination 기본은 bullet
                pagination: {
                    el: ".swiper-pagination"
                },

                // 좌우 화살표 navigation element 지정
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },

                on: {
                    init: function () {
                        $('.swiper-slide').addClass('changed');

                        // fraction에 현재 인덱스와 전체 인덱스 표시
                        // this.loopedSlides는 loop, slidesPerView: 'auto'일 때 제대로 동작
                        $('.custom-fraction .current').text(this.realIndex + 1);
                        $('.custom-fraction .all').text(this.loopedSlides);
                        // console.log(this);
                        // console.log(this.loopedSlides)
                    },

                    slideChangeTransitionStart: function () {
                        // 기본적으로 제공하는 swiper-slide-active 클래스를 이용해
                        // css transition 애니메이션 작성 가능하다.
                        // 다만 루프 모드일 때에는 루프 픽스를 하며 slide를 바꿔치기를 하는데,
                        // 이 때 플리커링이 발생할 수 있다.
                        // css transition을 서로 다르게 설정한 changed, changing 클래스를 이용
                        $('.swiper-slide').addClass('changing');
                        $('.swiper-slide').removeClass('changed');

                        // 페이지 넘어갈 때마다 fraction 현재 인덱스 변경
                        $('.custom-fraction .current').text(this.realIndex + 1);
                    },

                    slideChangeTransitionEnd: function () {
                        // changing : transition O
                        // changed : transition X
                        $('.swiper-slide').removeClass('changing');
                        $('.swiper-slide').addClass('changed');
                    }
                },
            });
        });
    </script>
    <script src="../static/js/dataReceive.js"></script>
    <script src="../static/js/dataDelete.js"></script>
    <script src="../static/js/selected_modal.js"></script>
</body>

</html>