<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>set_phoneNum</title>
    <style type="text/css">
        html,body {
            margin: 0;
            width: 1080px;
            height: 1920px;
            background: #F7F7F7;
        }
    </style>
    <link rel="stylesheet" href="../static/css/titleBox.css">
    <link rel="stylesheet" href="../static/css/phoneNum.css">
    <!-- Material Icons CSS -->
    <!-- Keyboard JS -->
    <!-- <script language="javascript">
        function changeColor(color) {
            document.bgColor = color;
        } -->
    </script>
</head>

<body style="overflow: hidden;">

    <!--<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

        <script>
        $("button.btnGroup").click(function(){
            $("button.btnGroup").removeClass("on");
            $(this).addClass("on");
        });
        </script>   
    -->
    <div class="wrapper">
        <header>
            <p class="title">Travel into your daily life</p>
            <img class="logo" src="../static/img/텍스트형 LOGO1.svg" alt="로고">
        </header>
        <hr />

        <p2>퐁당포인트 적립 및 사용</p2>
        <p3>전화번호를 입력하시면 더 많은 혜택을 받을 수 있어요</p3>
        <!-- <img class = "numLogo" src="/static/img/자산2.svg" alt=""> -->

        <div class="container">
            <div class="calculator">
                <div class="calculator__display--for-advanced"></div>
                <div class="calculator__buttons">
                    <div class="button__row">
                        <button class="number numbtn">1</button>
                        <button class="number numbtn">2</button>
                        <button class="number numbtn">3</button>
                    </div>
                    <div class="button__row">
                        <button class="number numbtn">4</button>
                        <button class="number numbtn">5</button>
                        <button class="number numbtn">6</button>
                    </div>
                    <div class="button__row">
                        <button class="number numbtn">7</button>
                        <button class="number numbtn">8</button>
                        <button class="number numbtn">9</button>
                    </div>
                    <div class="button__row">
                        <button class="double"> &nbsp; </button>
                        <button class="number double numbtn">0</button>
                        <button class="delete numbtn"><</button>
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="Footer">
            <button class="skip-button post-btn" onclick="location.href='/orderMaking';">건너뛰기 </button>
            <button class="pay-button post-btn" onclick="location.href='/orderMaking';">적립하기 </button>
        </div>
    <script src="../static/js/phoneNum.js"></script>
    <script src="../static/js/sendData.js"></script>
</body>

</html>